/* Light Mode */
body.light-theme {
  --bg-color: #ffffff;
  --text-color: #000000;
  --subtext-color: #606060;
  --card-bg: #f8f8f8;
}

/* Dark Mode */
body.dark-theme {
  --bg-color: #0f0f0f;
  --text-color: #ffffff;
  --subtext-color: #aaaaaa;
  --card-bg: #1a1a1a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
